 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            overflow-x: hidden;
        }

        nav {
            background: #222;
            color: white;
            padding: 15px 20px;
        }

        nav ul {
            display: flex;
            justify-content:center;
            list-style: none;
        }

        nav ul li {
            padding: 5px 10px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

      
        .hero {
            padding: 40px 20px;
            text-align: center;
            background: #f4f4f4;
        }

        .hero h1 {
            font-size: 48px;
            margin-bottom: 10px;
        }

        .hero p {
            font-size: 18px;
        }

   
        .container {
            display: flex;
            gap: 20px;
            padding: 40px 20px;
        }

        .box {
            flex: 1;
            padding: 20px;
            background: #e3e3e3;
            border-radius: 8px;
        }

        .box img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

     
        footer {
            background: #222;
            color: white;
            text-align: center;
            padding: 20px;
        }

       /* Responsiveness */
        @media (max-width: 768px) {

     
            nav ul {
                flex-direction: column;
                text-align: center;
            }

            nav ul li {
                padding: 10px 0;
            }

          
            .hero h1 {
                font-size: 28px;
            }

            .hero p {
                font-size: 14px;
            }


            .container {
                flex-direction: column;
            }
        }
